<div class="screen">
	<div class="screen-header">
		<div class="screen-header-text-center"><span>Attributes</span></div>
		<span class="screen-header-text-left"><a href="#!/product">cancel</a></span>
		<span class="screen-header-text-right"><a ng-click="saveAttributes();">save</a></span>
	</div>
	<div class="screen-body">
		<div class="white-container">
			<div class="white-container-body">
				<div class="list">
					<div class="list-item" ng-repeat="attr in attributes" ng-click="modifyAttribute(attr)">
						<span class="small-text">{{attr.name}}</span>
						<div>{{attr.values.join(', ')}}</div>
					</div>
				</div>
			</div>
			<div class="white-container-footer"><a ng-click="newAttribute()">Add Attribute</a></div>
		</div>
	</div>
</div>